* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  user-select: none;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Arimo', sans-serif;
  background: radial-gradient(
    ellipse at center 90%,
    hsla(180, 100%, 50%, 1) 0%,
    #001d14
  );
}

canvas {
  width: 100%;
  height: 100%;
}

.projects-selector {
  position: fixed;
  opacity: 0.2;
  z-index: 200;
  top: 0;
  left: -370px;
  transition: left ease-in-out 0.2s, opacity ease-in-out 0.2s;
  background: #000;
  font-size: 11px;
  text-shadow: 0 -1px 0 #111;
  color: #eee;
  padding: 2px;
  user-select: none;
  overflow-y: auto;
  max-height: 100%;
  width: 450px;
}

.projects-selector.active {
  left: 0px;
  opacity: 1;
}

.projects-selector .title {
  padding: 2px 4px;
  font-size: 12px;
}

.projects-selector .description {
  padding: 2px 4px;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #2fa1d6;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #42b4ed;
}

ul {
  padding: 0;
}

.projects-selector--experiment-item p {
  padding: 10px 0 8px 0;
  font-size: 14px;
}

.projects-selector--experiment-item ul {
  display: none;
}

.projects-selector--experiment-item.opened ul {
  display: block;
}

li.projects-selector--experiment-item {
  list-style: none;
  background: #1a1a1a;
  border-bottom: 1px solid #2c2c2c;
  padding: 4px 10px;
  cursor: pointer;
}

li.projects-selector--experiment-item:hover {
  background: #141414;
}

li.projects-selector--example-item {
  list-style: none;
  background: #1a1a1a;
  border-bottom: 1px solid #2c2c2c;
  padding: 4px 10px;
  cursor: pointer;
}

li.projects-selector--example-item:hover {
  background: #111;
  border-left: 1px solid #2fa1d6cc;
}

li.selected {
  border-left: 3px solid #2fa1d6;
}

li.projects-selector--example-item.selected:hover {
  border-left: 3px solid #2fa1d6;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: flex;
}
.overlay.hidden {
  opacity: 0;
}
.overlay::after {
  content: 'Click to play';
  color: #fff;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  text-transform: uppercase;
}

.stats {
  position: fixed;
  top: 0px;
  left: 50%;
  cursor: pointer;
  opacity: 0.9;
  z-index: 100;
  transform: translateX(-50%);
}

.game-ui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: fantasy;
  font-size: 28px;
  letter-spacing: 1.5px;
}

.game-ui .bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.game-ui .bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
